
{% include 'publicheader.html' %}
<form method="post">
    <center>
        <body>
            <h1>Login Page</h1>
            <table class="table" style="width: 350px;">
                <tr>
                    <th>Username</th>
                    <td><input type="text" name="uname"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" name="pass"></td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><input type="submit" name="login" vallue="Login"></td>
                </tr>
            </table>
        </body>
    </center>
</form>
<br><br><br>
{% include 'footer.html' %}