{% include 'adminheader.html' %}
<br><br><br><br><br>  

<center>
    <form method="post">
        <h1>Send Reply</h1>
        <table class="table" style="width: 300px;">
            <tr>
                <th>Reply</th>
                <td><input type="text" name="rep"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="send" value="Send"></td>
            </tr>
        </table>
    </form>
</center>

<br><br><br>
{% include 'footer1.html' %}